body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tileInput {
  width: 200px;  
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none; 
  box-sizing: border-box; 
}

.addToken {
  padding: 10px 20px; 
  font-size: 16px;
  border: 1px solid #ccc; 
  border-color: black;
  background-color: #494949;
  color: white; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background 0.3s ease; 
}

.addToken:hover {
  background-color: #292929; 
}

.input-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.dropdown-menu {
  background-color: #494949;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.hidden {
  display: none;
}

.dropdown-option {
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown-option:hover {
  background-color: #292929;
}